table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: center;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}


.associated_stations table th, .associated_stations table td   {
    text-align: left;
}

.wireless table td {
    text-align: left;
    background-color: white;
    font-family: arial, sans-serif;
}

.wireless table {
    margin-left: 200px;
}